<div class="carbon_footprint_box">
  <p><strong>769.44 kg CO<sub>2</sub>e</strong> cumulative carbon footprint</p>
  <table class="instance_types">
    <thead>
      <th>
        <td>Instance type</td>
        <td>Compute time</td>
        <td>Carbon footprint</td>
      </th>
    </thead>
    <tbody>
<%= render :partial => 'instance_type', :collection => @instances, :as => :instance %>
    </tbody>
  </table>
  <p>Powered by <a href="http://brighterplanet.com">Brighter Planet</a></p>
</div>
<script type="text/javascript">


function Instance() {}
Carbon.emitter(Instance, function(emitter) {
  emitter.emitAs('computation')
  emitter.provide('carrier')
  emitter.provide('type', { as: 'instance_class' })
  emitter.provide('duration')
})

$(document).ready(function() {
  $('.carbon_footprint_box table.instance_types tr.instance_type').each(function() {
    var instance = new Instance()
    instance.duration = this.find('td.duration').html();
    instance.carrier = '<%= @carrier %>';
    instance.type = this.find('td.instance_class').html();

    var carbonTd = this.find('td.carbon_footprint')
    onSuccess = function(estimate) {
      carbonTd.html(estimate.value() + 'kgCO2<sub>e</sub>')
    }
    onError = function() {
      carbonTd.html('Failed to get estimate')
    }
    instance.getEmissionEstimate(onSuccess, onError)
  });
});
</script>
