<div class="carbon_footprint_box">
  <table class="instance_classes">
    <thead>
      <th>
        <td>Instance class</td>
        <td>Compute time</td>
        <td>Carbon footprint</td>
      </th>
    </thead>
    <tbody>
    <% @instance_classes_and_durations.each do |instance_class, duration| %>
      <tr class="instance_class">
        <td class="instance_class"><%= instance_class %></td>
        <td class="duration"><%= duration %></td>
        <td class="carbon_footprint">(loading)</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p>Powered by <a href="http://brighterplanet.com">Brighter Planet</a></p>
</div>

<script type="text/javascript">
  Carbon.key = '<%= @api_key %>';
  function Instance() {}
  Carbon.emitter(Instance, function(emitter) {
    emitter.emitAs('computation');
    emitter.provide('carrier');
    emitter.provide('instance_class');
    emitter.provide('duration');
  });
  $(document).ready(function() {
    $('.carbon_footprint_box table.instance_classes tr.instance_class').each(function() {
      var instance = new Instance();
      instance.carrier = '<%= @carrier %>';
      instance.instance_class = this.find('td.instance_class').html();
      instance.duration = this.find('td.duration').html();
      var carbonTd = this.find('td.carbon_footprint');
      onSuccess = function(estimate) {
        carbonTd.html(estimate.value() + 'kgCO2<sub>e</sub>');
      };
      onError = function() {
        carbonTd.html('Failed to get estimate');
      };
      instance.getEmissionEstimate(onSuccess, onError);
    });
  });
</script>
